@use '../../abstracts/' as *;

.wrapper {
  min-width: 100%;
  background: linear-gradient(
    90deg,
    var(--clr-primary-700),
    var(--clr-neutral-850) 5% 95%,
    var(--clr-primary-700)
  );
}

.projectsBody {
  min-height: 100vh;
  display: grid;
  gap: 7rem;
  padding-top: 7rem;
  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  @include mq(large) {
    grid-template-columns: repeat(3, 1fr);
  }

  h2,
  h3,
  h4,
  p {
    color: var(--clr-neutral-150);
  }
}

.control {
  padding: 0 0.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;

  h3 {
    color: var(--clr-neutral-150);
  }
}
