@mixin animate($name, $speed, $delay) {
  animation: $name $speed $delay ease-in forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes floatFromTop {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes floatFromBot {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes floatRotateBot {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(90deg) translateY(200%);
  }
  100% {
    transform: rotate(90deg) translateY(0);
    opacity: 0.7;
  }
}

.slideInLeft {
  @include animate(slideInLeft, 0.6s, 0s);
}
.slideInRight {
  @include animate(slideInRight, 0.6s, 0s);
}
.floatFromTop {
  @include animate(floatFromTop, 0.6s, 0s);
}
.floatFromBot {
  @include animate(floatFromBot, 0.6s, 0s);
}

@mixin scrollSign {
  animation: floatRotateBot 3s 4s forwards, fadeInOut 3s 7s infinite;
}
