.footer {
  min-width: 100%;
  background: linear-gradient(0deg, var(--clr-neutral-900), var(--clr-neutral-850));
  color: var(--clr-neutral-400);
  padding: 2rem;
  text-align: center;

  p {
    padding: 0.3rem 0;
  }

  .social {
    display: flex;
    justify-content: center;
  }
  img {
    display: inline-block;
    max-width: 2.5rem;
    border-radius: 50%;
    padding: 0.1rem;
    background: var(--clr-secondary-700);
  }
  .powered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
