.footer {
  min-width: 100%;
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-150);
  padding: 4rem;
  text-align: center;

  p {
    padding: 1rem 0;
  }

  .social {
    display: flex;
    justify-content: center;
  }
  img {
    width: 40px;
  }
}
