.logo {
  max-width: 9rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 100;
  opacity: 0;
  animation: logo 0.1s 4.7s forwards ease-in;
}

.nav {
  position: absolute;
}

@keyframes logo {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
