$primary-base: 20;
$secondary-base: 194;
$accent-base: 52;
$neutral-base: 0;

$colors: (
  primary: (
    100: $primary-base 90% 96%,
    150: $primary-base 90% 90%,
    200: $primary-base 90% 80%,
    300: $primary-base 90% 70%,
    400: $primary-base 90% 60%,
    500: $primary-base 90% 50%,
    600: $primary-base 90% 40%,
    700: $primary-base 90% 30%,
    800: $primary-base 90% 20%,
    900: $primary-base 90% 10%,
  ),
  secondary: (
    100: $secondary-base 89% 90%,
    150: $secondary-base 89% 85%,
    200: $secondary-base 89% 80%,
    300: $secondary-base 89% 70%,
    400: $secondary-base 89% 50%,
    500: $secondary-base 89% 30%,
    600: $secondary-base 89% 25%,
    700: $secondary-base 89% 20%,
    800: $secondary-base 89% 10%,
    900: $secondary-base 89% 5%,
  ),
  accent: (
    100: $accent-base 100% 90%,
    300: $accent-base 100% 70%,
    400: $accent-base 100% 50%,
    500: $accent-base 100% 30%,
    600: $accent-base 100% 20%,
    700: $accent-base 100% 15%,
    800: $accent-base 100% 10%,
  ),
  neutral: (
    100: $neutral-base 0% 100%,
    150: $neutral-base 0% 96%,
    200: $neutral-base 0% 87%,
    300: $neutral-base 0% 80%,
    400: $neutral-base 0% 70%,
    500: $neutral-base 0% 60%,
    600: $neutral-base 0% 50%,
    700: $neutral-base 0% 40%,
    800: $neutral-base 0% 30%,
    850: $neutral-base 0% 20%,
    900: $neutral-base 0% 15%,
    950: $neutral-base 0% 5%,
    backdrop: $neutral-base 0% 5% 50%,
  ),
  error: (
    400: $neutral-base 97% 55%,
  ),
);
