$type-scale: (
  small: (
    100: 0.6rem,
    200: 0.75rem,
    300: 0.9rem,
    350: 1.075rem,
    400: 1.125rem,
    500: 1.5rem,
    600: 2rem,
    700: 2.5rem,
    800: 3rem,
  ),
  big: (
    100: 0.75rem,
    200: 0.85rem,
    300: 1rem,
    350: 1.1rem,
    400: 1.25rem,
    500: 2rem,
    600: 2.5rem,
    700: 3.5rem,
    800: 5rem,
  ),
);
