@use '../../abstracts/' as *;

$nav-width: 60px;
$nav-height: 300px;
$direction: column;

.nav {
  position: absolute;
  right: 1.5rem;
  top: 10vh;
  z-index: 100;
  width: $nav-width;
  height: $nav-height;
  border-radius: 30px;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  box-shadow: 0 0 5px var(--clr-secondary-700);
  transform-origin: top;
  @include mq(large) {
    animation: nav 1s 2s forwards ease-in;
    top: 35vh;
    left: 4rem;
  }

  &Base {
    position: relative;
    width: $nav-width;
    height: $nav-height;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      top: -150px;
      left: -150px;
      width: 500px;
      height: 500px;
      border-radius: 50%;
      background: linear-gradient(to bottom, var(--clr-secondary-500), var(--clr-primary-500));
      animation: navBg 2s linear infinite;
    }
  }

  &List {
    width: calc($nav-width - 2px);
    height: calc($nav-height - 2px);
    background: linear-gradient(to bottom, var(--clr-secondary-700), var(--clr-secondary-800));
    border-radius: 30px;
    margin: 0;
    z-index: 50;
    padding: 0.5rem 0.3rem;
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 0 0 7px 5px var(--clr-secondary-700);
    transition: all 250ms ease-in;

    &:hover {
      box-shadow: none;
    }
    li {
      padding: 0.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--clr-secondary-900);
      border-radius: 50%;
      width: 45px;
      height: 45px;
      box-shadow: 0 0 4px var(--clr-secondary-800);
      transition: all 250ms ease-in;
      cursor: pointer;
      &:hover,
      &:active {
        box-shadow: 0 0 4px 2px var(--clr-primary-400);
      }
      img {
        padding: 0.3rem;
      }
    }
  }

  &Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-secondary-900);
    box-shadow: 0 0 6px var(--clr-secondary-400);
    border-radius: 50%;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    width: 45px;
    height: 45px;
    z-index: 100;
    transition: all 250ms ease-in;
    opacity: 0;
    animation: logo 0.2s 2s forwards ease-in;
    @include mq(large) {
      animation: none;
      display: none;
    }

    &:hover,
    &:active {
      box-shadow: 0 0 4px 2px var(--clr-primary-400);
    }
    img {
      width: 30px;
    }
  }
}

.openNav {
  animation: openNav 0.4s forwards ease-in;
}
.closeNav {
  animation: closeNav 0.2s forwards ease-in;
  @include mq(large) {
    animation: closeNav 1s 2s forwards ease-in;
  }
}

@keyframes navBg {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes nav {
  0% {
    transform: translate(-300%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes openNav {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes closeNav {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@include mq(large) {
  @keyframes closeNav {
    0% {
      transform: translate(-300%, 0);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
}

@keyframes logo {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
