@use '../../abstracts/' as *;

.about {
  p {
    flex: 1;
  }
}
.info {
  margin: 0 0 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include mq(large) {
    margin: 0 1rem 7rem 2rem;
    flex-direction: row;
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2rem;

  img {
    max-width: 80px;
    min-width: 50px;
  }
}

.tech {
  p {
    font-style: italic;
  }
  &Grid {
    margin-top: 5rem;
    @include mq(medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @include mq(xlarge) {
      grid-template-columns: repeat((4, 1fr));
    }

    &Item {
      margin: 3rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      border: none;
      box-shadow: 0 0 3px var(--clr-secondary-800);
      background: radial-gradient(
        circle at bottom left,
        var(--clr-secondary-800) 50%,
        var(--clr-secondary-700) 70%,
        var(--clr-secondary-500) 90%
      );
      color: var(--clr-neutral-150);
      border-radius: 15px;
      padding: 2rem;
      justify-self: center;
      align-self: center;

      @include mq(medium) {
        margin: 0;
      }
      @include mq(large) {
        max-width: 25rem;
      }
      h4 {
        margin: 1rem 0;
        color: var(--clr-primary-400);
      }
      img {
        background: var(--clr-secondary-800);
        box-shadow: 0 0 7px var(--clr-secondary-500);
        max-width: 5rem;
        padding: 1rem;
        border-radius: 15px;
      }
    }
  }
}
