@use '../../abstracts/' as *;

.wrapper {
  min-width: 100%;
  background: linear-gradient(135deg, var(--clr-neutral-800) 70%, var(--clr-accent-500));
  color: var(--clr-neutral-150);
}

.featured {
  h2 {
    text-align: center;
    @include mq(large) {
      text-align: start;
    }
  }
}

.control {
  display: flex;
  justify-content: center;
}
