@use '../../abstracts/' as *;

.info {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include mq(large) {
    gap: 3rem;
    margin-bottom: 3rem;
  }
  @include mq(xlarge) {
    display: grid;
    gap: 3rem;
    grid-template-areas: 'a b' 'c c';
    grid-template-columns: 1fr 1fr;
  }
}
.infoText {
  grid-area: a;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  line-height: 1.6;
  word-spacing: 0.3px;
}

.icons {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2rem;

  img {
    max-width: 80px;
    min-width: 50px;
  }
}

.tech {
  grid-area: c;
  display: none;
  @include mq(large) {
    display: block;
  }
  p {
    flex: 1;
  }
  &Grid {
    p {
      font-size: var(--fs-200);
      font-style: italic;
    }
    @include mq(large) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
    @include mq(xlarge) {
      gap: 2rem;
    }

    &Item {
      margin: 1rem auto;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      justify-self: center;
      align-self: center;
      border: none;
      border-radius: 15px;
      box-shadow: 0 0 3px var(--clr-secondary-800);
      color: var(--clr-neutral-150);
      background: radial-gradient(
        circle at bottom left,
        var(--clr-secondary-800) 50%,
        var(--clr-secondary-700) 70%,
        var(--clr-secondary-500) 90%
      );
      @include mq(large) {
        height: 90%;
      }
      h4 {
        margin: 1rem 0;
        color: var(--clr-primary-400);
      }
      img {
        background: var(--clr-secondary-800);
        box-shadow: 0 0 7px var(--clr-secondary-500);
        max-width: 4rem;
        padding: 0.5rem;
        border-radius: 15px;
      }
    }
  }
}
