@use '../../abstracts/' as *;

.project {
  margin: 6rem 0 10rem;
  position: relative;
  display: grid;
  grid-template-areas:
    'a'
    'b';
  @include mq(large) {
    grid-template-areas: 'a b';
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }

  .projectTxt {
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    h3 {
      margin: 0.5rem 0;
    }
    h4 {
      margin: 0.5rem 0 3rem;
    }
    button {
      margin: 3rem 0 1rem;
    }
    @include mq(large) {
      height: max(25rem, 40%);
      position: sticky;
      top: 40%;
    }
    @include mq(xlarge) {
      height: 40%;
    }
  }

  .projectImages {
    .image:nth-child(2) {
      display: none;
    }
    grid-area: a;
    position: relative;
    padding: 0 1rem 2rem;
    overflow: hidden;
    @include mq(medium) {
      padding: 0 3rem 2rem;
    }
    @include mq(large) {
      padding: 0;
      gap: 7rem;
      .image {
        &:nth-child(2) {
          display: block;
        }
        margin-bottom: 5rem;
      }
    }
  }
}

.control {
  display: flex;
  gap: 0.5rem;
}

.reverse {
  grid-template-areas: 'a' 'b';
  @include mq(large) {
    grid-template-areas: 'b a';
  }
}

.small {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  & .projectImages:hover {
    transition: all 250ms ease-in;
    box-shadow: 0 0 15px var(--clr-primary-400);
  }
  .projectTxt {
    display: flex;
    flex-direction: column;
    h3 {
      margin: 0.5rem 0;
    }
    h4 {
      margin: 0.5rem 0 3rem;
    }
    button {
      margin-top: 3rem;
    }
  }
}
