@use '../../abstracts/' as *;

.project {
  margin-top: 5rem;
  margin-bottom: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  @include mq(large) {
    margin-top: 8rem;
    margin-bottom: 10rem;
    flex-direction: row;
    gap: 8rem;
  }

  &Txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    h3 {
      margin: 0.5rem 0;
    }
    h4 {
      margin: 0.5rem 0 3rem;
    }
    button {
      margin-top: 3rem;
    }
  }

  &Img {
    position: relative;
    flex: 1;
    padding: 0 1rem;
    transform: rotate(2deg);
    @include mq(medium) {
      padding: 0 5rem;
      flex-direction: row;
      gap: 7rem;
    }
    @include mq(large) {
      padding: 0;
      flex-direction: row;
      gap: 7rem;
    }
    &::after {
      content: '';
      position: absolute;
      top: -12%;
      left: -5%;
      width: 95%;
      height: 105%;
      z-index: -5;
      background: var(--clr-neutral-900);
      filter: blur(5px);
      border-radius: 5px;
      opacity: 0.25;
      @include mq(medium) {
        top: -15%;
        left: 5%;
        width: 75%;
      }
      @include mq(large) {
        top: -12%;
        left: -8%;
        width: 105%;
      }
    }
  }
}

.reverse {
  flex-direction: column;
  @include mq(large) {
    flex-direction: row-reverse;
  }
}

.control {
  display: flex;
  gap: 0.5rem;
}
