@use '../../abstracts/' as *;

.wrapper {
  min-width: 100%;
  background: linear-gradient(
    90deg,
    var(--clr-secondary-700),
    var(--clr-neutral-850) 5% 95%,
    var(--clr-secondary-700)
  );
  color: var(--clr-neutral-150);
  & button,
  & a {
    color: var(--clr-neutral-150);
  }
}

.aboutBody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  p {
    line-height: 1.9;
    word-spacing: 1.2px;
  }
  h3 {
    text-align: center;
  }
  &Title {
    text-align: center;
  }
  &Personal {
    padding: 5rem;
    display: flex;
    gap: 5rem;
    .aboutText {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
    .portrait {
      max-width: 30%;
      min-width: 15rem;
      //   flex: 0.5;
      img {
        border-radius: 10px;
      }
    }
  }
  .skills {
    padding: 0 5rem;
  }

  @include mq(medium) {
  }
  @include mq(large) {
  }
}

.control {
  padding: 0 0.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;

  h3 {
    color: var(--clr-neutral-150);
  }
}
