@use '../abstracts/' as *;

body {
  position: relative;
  min-height: 100vh;
}

section {
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 2rem;
  @include mq(medium) {
    padding: 0 2rem;
  }
  @include mq(large) {
    padding: 0 5rem;
  }
  & + section {
    margin-top: var(--section-spacing);
  }
  .spacer {
    margin: 1rem 0 5rem;
    height: 1px;
    max-width: 15%;
    min-width: 100px;
    border: 1px solid var(--clr-primary-400);
    &.center {
      margin: 1rem auto;
    }
  }
}

.quote {
  text-align: center;
}

// .section1 {
//   background: var(--clr-neutral-850);
//   min-width: 100%;
//   // margin: 0 2rem;
// }

main {
  // background: linear-gradient(to bottom, var(--clr-secondary-300), var(--clr-primary-300));

  &::after {
    content: '';
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(
      170deg,
      var(--clr-neutral-150) 40%,
      var(--clr-secondary-200) 80%,
      var(--clr-primary-200)
    );
    z-index: -2;
  }

  // &::before {
  //   content: '';
  //   position: fixed;
  //   top: 0;
  //   z-index: -1;
  //   min-width: 100%;
  //   min-height: 100%;
  //   background: linear-gradient(
  //     180deg,
  //     transparent,
  //     var(--clr-neutral-600) 20%,
  //     var(--clr-neutral-600) 80%,
  //     transparent
  //   );
  //   // background: rgba(#fff, $alpha: 0.15);
  // }
}
