@use '../abstracts/' as *;

body {
  position: relative;
  min-height: 100vh;
}

main {
  &::after {
    content: '';
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(
      180deg,
      var(--clr-secondary-100),
      var(--clr-neutral-150) 20% 80%,
      var(--clr-primary-100)
    );
    z-index: -2;
  }
}

section {
  margin: 0 auto;
  max-width: 90rem;
  padding: var(--section-spacing) 1rem calc(var(--section-spacing) + 1rem);
  @include mq(medium) {
    padding: var(--section-spacing) 4rem calc(var(--section-spacing));
  }
  @include mq(large) {
    padding: var(--section-spacing) 6rem calc(var(--section-spacing));
  }
  @include mq(xxlarge) {
    padding: var(--section-spacing) 3rem calc(var(--section-spacing));
  }
}
.spacer {
  margin: 1rem 0 3rem;
  height: 2px;
  max-width: 20%;
  min-width: 100px;
  border-top: 2px solid;
  text-align: center;
  @include mq(large) {
    margin: 1rem 0 3rem;
  }
  @include mq(xlarge) {
    margin: 1rem 0 5rem;
  }

  &.center {
    margin: 1rem auto;
    max-width: 15%;
  }
  &.fluid {
    margin: 1rem auto;
    max-width: 15%;
    @include mq(large) {
      margin: 1rem 0 3rem;
    }
  }
}

.line {
  height: 2px;
  max-width: 80%;
  border-top: 1px solid;
  &.fit {
    max-width: 100%;
  }
  &.center {
    margin: 1rem auto;
    max-width: 15%;
  }
  @include mq(large) {
    &.largeNoDisplay {
      display: none;
    }
  }
}

.quote {
  margin: 1rem auto 6rem;
  @include mq(large) {
    margin: 2rem auto 8rem;
  }
  @include mq(xlarge) {
    margin: 2rem auto 8rem;
  }
}

.quote,
.quote p {
  text-align: center;
  font-size: var(--fs-500);
  font-style: italic;
}

.primary {
  color: var(--clr-primary-400);
}
.accent {
  color: var(--clr-accent-400);
}
.secondary {
  color: var(--clr-secondary-400);
}

.hidden {
  opacity: 0;
}
.none {
  display: none;
}
