@use '../abstracts' as *;

:root {
  --section-spacing: 4rem;
  @include mq(medium) {
    --section-spacing: 4rem;
  }
  @include mq(large) {
    --section-spacing: 5rem;
  }
  @each $color, $shade in $colors {
    @each $prop, $value in $shade {
      --clr-#{$color}-#{$prop}: hsl(#{$value});
    }
  }

  @each $screen-size, $property in $type-scale {
    @if $screen-size == small {
      @each $prop, $value in $property {
        --fs-#{$prop}: #{$value};
      }
    }
    @include mq(medium) {
      @each $prop, $value in $property {
        --fs-#{$prop}: #{$value};
      }
    }
  }
}
