.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.8rem 1.5rem;
  border-radius: 15px;
  transition: all 250ms ease-in;
  gap: 0.5rem;
  img {
    width: 25px;
  }
}

.secondary {
  border: 1px solid var(--clr-secondary-400);
  background: transparent;
  color: var(--clr-neutral-900);

  & * {
    color: var(--clr-neutral-900);
    transition: all 250ms ease-in;
  }
  &:hover {
    border: 1px solid transparent;
    background: var(--clr-secondary-400);
    color: var(--clr-neutral-100);
    & * {
      color: var(--clr-neutral-100);
    }
  }
}

.accent {
  border: 1px solid var(--clr-accent-400);
  background: transparent;
  color: var(--clr-neutral-150);

  & * {
    color: var(--clr-neutral-150);
    transition: all 250ms ease-in;
  }
  &:hover {
    background: var(--clr-accent-500);
    color: var(--clr-neutral-150);
    & * {
      color: var(--clr-neutral-150);
    }
  }
}
.primary {
  border: 1px solid var(--clr-primary-400);
  background: transparent;
  color: var(--clr-neutral-150);

  & * {
    color: var(--clr-neutral-150);
    transition: all 250ms ease-in;
  }
  &:hover {
    background: var(--clr-primary-500);
    color: var(--clr-neutral-150);
    & * {
      color: var(--clr-neutral-150);
    }
  }
}
