@use '../../abstracts/' as *;

.contactForm {
  background: var(--clr-secondary-700);
  color: var(--clr-neutral-150);
  padding: 3rem 0;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--clr-neutral-700);
  margin: 0 auto 2rem;
  @include mq(medium) {
    max-width: 80%;
  }
  fieldset {
    margin: 1rem auto;
    max-width: 90%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  label,
  input,
  textarea {
    padding: 0.5rem;
    transition: all 250ms ease-in;
  }

  input,
  textarea {
    min-width: 100%;
    border-radius: 10px;
    border: 1px solid var(--clr-neutral-200);
    background: var(--clr-neutral-100);
    @include mq(large) {
      min-width: 70%;
    }
  }

  textarea {
    min-height: 5rem;
  }
}
