@use '../../abstracts/' as *;

.contactForm {
  position: relative;
  color: var(--clr-neutral-100);
  padding: 3rem 0;
  margin: 0 auto;
  @include mq(large) {
    max-width: 85%;
  }
  @include mq(xlarge) {
    max-width: 70%;
  }
  button {
    color: var(--clr-neutral-100);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 10%;
    border-radius: 10% 0 0;
    box-shadow: -2px -2px var(--clr-secondary-400);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20%;
    width: 10%;
    border-radius: 0 0 10%;
    box-shadow: 2px 2px var(--clr-secondary-400);
  }

  fieldset {
    margin: 1rem auto;
    max-width: 90%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  label,
  input,
  textarea {
    padding: 0.5rem;
    transition: all 250ms ease-in;
  }

  input,
  textarea {
    min-width: 100%;
    border-radius: 10px;
    border: 1px solid var(--clr-secondary-400);
    background: var(--clr-neutral-100);
    transition: all 250ms ease-in;
    @include mq(large) {
      min-width: 80%;
    }
    &:focus {
      box-shadow: 0px 0px 5px var(--clr-secondary-500);
      border: 1px solid var(--clr-secondary-400);
      outline: none;
    }
  }

  textarea {
    min-height: 5rem;
  }

  .error {
    border: 1px solid var(--clr-error-400) !important;
    box-shadow: 0px 0px 5px var(--clr-error-400) !important;
  }
}
