.welcomeTop {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -90%);
  animation: welcomeTop 3s forwards ease-in;
  opacity: 0;
  min-width: fit-content;
}
.welcomeBot {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -10%);
  animation: welcomeBot 3s 0.2s forwards ease-in;
  opacity: 0;
}

@keyframes welcomeTop {
  0% {
    transform: translate(-400%, -90%);
    opacity: 1;
  }

  20% {
    transform: translate(-70%, -90%);
  }
  80% {
    transform: translate(-75%, -90%);
    opacity: 1;
  }
  99% {
    transform: scale(1) translate(1000%, -90%);
  }
  100% {
    transform: scale(0) translate(1000%, -90%);
    opacity: 0;
  }
}
@keyframes welcomeBot {
  0% {
    transform: translate(400%, -10%);
    opacity: 1;
  }
  20% {
    transform: translate(-30%, -10%);
  }
  80% {
    transform: translate(-25%, -10%);
    opacity: 1;
  }
  99% {
    transform: translate(-1000%, -10%);
  }
  100% {
    transform: translate(-1000%, -10%);
    opacity: 0;
  }
}
